<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAcSgLgUSSyXjSMQlI1j-vJ-gxi3_MoaPk</string>
	<key>GCM_SENDER_ID</key>
	<string>909102038701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>finans-fc0e8</string>
	<key>STORAGE_BUCKET</key>
	<string>finans-fc0e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909102038701:ios:1a4af914d8e751fc34d024</string>
	<key>DATABASE_URL</key>
	<string>https://finans-fc0e8-default-rtdb.firebaseio.com</string>
</dict>
</plist>